<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>loginError</title>
  <link href="css/plugins/plugins.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="icon" type="image/jpg" href="images/logo-light.jpg">

</head>
<!--<body style="background-color: #8CD2E5">-->

<div>
  <a href="/login" class="nav-link" >Login Page</a>
</div>
<h3 style="color: #ff151c; text-align: center"><b> You are banned</b></h3>
</body>
</html>