<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<p id="m" class="fa fa-user-circle-o" th:text=" ${currentUser.name}"></p>
<p id="current_user_surname" class="fa fa-user-circle-o" th:text=" ${currentUser.surname}"></p>
<img th:src="@{${'/user/image/' + currentUser.image}}" width="200" , height="300">
<form th:action="@{/user/logout}" method="post">
    <button>Logout</button>
</form>


<div class="add-article"></div>
<p>Add article:</p>
<form th:action="@{/article}" th:object="${article}" method="post">
    <select th:field="*{interest}">
        <option th:each="inter : ${interests}" th:value="${inter.id}" th:text="${inter.name}">
        </option>
    </select>
    <input placeholder="Title" type="text" th:field="*{title}">
    <textarea placeholder="Context" type="text" th:field="*{content}"/>
    <button>Add article</button>
</form>

<div th:if="${myArticles.size()!=0}">
    <p>My articles:</p>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author name</th>
            <th>Comments</th>
            <th>Add Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${myArticles}">
            <!--            <td style="display: none" th:text="${article.id}" />-->
            <td th:text="${article.title}"/>
            <td th:text="${article.content}"/>
            <td th:text="${article.getAuthor().getName()}"/>
            <!--            <td th:each="comment: ${article.getComments()}" th:text="${comment.content}">-->
            <td>
                <div th:if="${article.getComments().size()!=0}">
                    <table>
                        <thead>
                        <tr>
                            <th>content</th>
                            <th>author name</th>
                        </tr>
                        </thead>
                        <tr th:each="comment: ${article.getComments()}">
                            <td th:text="${comment.content}"/>
                            <td th:text="${comment.getAuthor().getName()}"/>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="add-comment"></div>
                <p>Add comment:</p>
                <form th:action="@{/comment}" th:object="${comment}" method="post">
                    <input style="visibility: hidden" th:value="article">
                    <input placeholder="content" type="text" th:field="*{content}">
                    <button type="submit">Add comment</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>